.btn-login {
  /* background-color: #e5599c !important; */
  background-color:   var(--theme-color) !important;
  border-radius: 2px !important;
  color: white;
  width: 100%;
  max-width: 240px;
}

.btn-logout {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #f5f5f5;
  border-radius: 2px;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 0;
  width: 50%;
  font-weight: 400;
  margin: 16px 0;
}

/* .btn.btn-comman {
  background: #f5f5f5;
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  padding: 0 15px;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.87);
} */

.inner-addon.left-addon.kk {
  position: absolute;
  left: 44px;
  top: 14px;
  font-size: 16px;
}

.qq {
  position: absolute;
  left: 44px;
  top: 14px;
  font-size: 16px;
}

.btn-login:hover {
  color: #fff;
}

/* .inner-addon {
  color: #757575;
} */

/* .inner-addon .icon {
    padding: 15px 12px;
    font-size: 22px;
} */

.btn.btn-login {
  color: #fff;
  margin: 0;
  margin-top: 15px;
}

/* input {
  width: 90%;
  border: 0;
  font-size: 16px;
} */

input:-internal-autofill-selected {
  background-color: -internal-light-dark(
    rgb(232, 240, 254),
    rgba(70, 90, 126, 0.4)
  ) !important;
}

.input_box .span {
  font-size: 12px !important;
}

.verification-text {
  position: absolute;
  bottom: 7px;
}

/* loader-s   */

.loading span {
  color: #fff;
  font-size: 18px;
}

/* loader-e  */

/*9-Feb-s */
.password-text {
  position: absolute;
  bottom: auto;
  top: 43px;
  right: 0;
  left: 0;
}

.both-login-btn .btn.btn-comman {
  background: #f5f5f5;
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  padding: 0 15px;
  margin-top: 40px;
  color: #000000de;
  box-shadow: 0px 1px 2px rgb(105, 104, 104);
  margin-left: 0px;
}
/*9-Feb-e */

@media only screen and (max-width: 480px) {
  /* .btn.btn-comman {
    padding: 0 14px;
  } */

  .both-login-btn .btn.btn-comman {
    margin: 40px 7px;
  }

  .register-page-scroll {
    overflow: auto;
    height: 100vh;
  }
}

@media only screen and (max-width: 280px) {
  .both-login-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .btn.btn-comman {
    margin: 40px 0;
  } */
}

.appContent1-loging {
  padding: 24px;
}
