.fast-amount.btn {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background-color: #f5f5f5;
  width: 23%;
  font-weight: 400;
  border: unset;
  border-radius: unset;
  background-image: none;
  color: #000;
  height: 36px;
  margin: 5px 25px;
}

.fast-amount.btn:hover {
  background-color: #a4d121 !important;
  color: #fff;
}

.btn-recharge {
  background: #e5599c;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  border: 0;
  padding: 10px 0;
  text-align: center;
  width: 54%;
  margin-top: 30px;
  margin-bottom: 36px;
  border: none;
  box-shadow: none;
}

div#dam_return {
  text-align: center;
}

.van-radio-group {
  text-align: left;
  /* padding-left: 65px; */
}

/* .van-radio {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
} */
.van-radio label {
  margin-bottom: 0;
  padding-left: 10px;
}

/* .btn-light:hover {
  color: #fff;
  background-color: #e5599c;
  border-color: #e5599c;
} */
.plues-img img {
  width: 30px;
}

.recharge-blance img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.recharge-blance input {
  padding-left: 0;
}

.inner-addon.left-addon.recharge-blance {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #fff;
  padding: 0 10px;
}

.inner-addon.left-addon.recharge-blance .form-control {
  box-shadow: none;
}

.recharge_btn {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0 24px;
}

.recharge_btn input {
  /* background: #e5599c !important; */
  background: var(--theme-color) !important;
  color: #fff !important;
  font-size: 14px;
  border-radius: 2px;
  border: 0;
  padding: 14px 0;
  text-align: center;
  width: 52%;
  margin: 0;
}

.code_input {
  width: 95%;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: background 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.code_input input {
  width: 90%;
  font-size: 14px;
  border: 0;
  line-height: 8px;
}

.code_input_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.code_input img {
  margin-right: 5px;
  height: 100%;
  max-height: 22px;
}

.amount_list {
  width: 100%;
  padding: 25px 10% 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.amount_list a {
  width: 28%;
  margin: 5px 5px;
  padding: 8px 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  background: #f5f5f5;
  border: 0;
}

.recharge_box[data-v-d269120a] {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

/* changes */

.Balance_Label {
  text-align: center;
  padding: 15px;
  margin: 0;
  font-weight: 400;
  font-size: 24px !important;
}

.Balance_Label span {
  font-size: 24px !important;
}

.EkPay_Lable {
  margin-left: 38px;
  display: inline-block;
  color: #212121;
  font-size: 14px;
  font-weight: 300;
}

.Payment_div {
  line-height: 48px;
}

.EkPay_Lable2 {
  margin-left: 3.5rem;
  display: inline-block;
  color: #212121;
  font-size: 14px;
}

.payment_box tr {
  height: 48px;
}

.payment_box .check {
  opacity: 0;
  transition: 0.3s;
}

.payment_box .check.active {
  opacity: 1;
}

.payment_text {
  height: 48px;
  line-height: 48px;
  color: #757575;
  text-align: left;
  font-size: 14px;
  margin-bottom: 4px;
}

@media only screen and (max-width: 575px) {
  .fast-amount.btn {
    width: 30%;
    margin: 3px;
  }
}

@media only screen and (max-width: 480px) {
  .amount_list {
    padding: 25px 15% 15px;
  }

  .amount_list a {
    color: #000;
  }

  .code_input {
    margin: 0 15px;
  }
}